---
title: Kisko Labs
---

<body class="frontpage">
  <div class="top_container">
    <div class="container">
      <div class="header">
        <div class="top_header">
          <h2 class="company">Kisko Labs</h2>
          <a href="#" id="menu">Menu</a>
          <ol id="nav" class="closed">
            <li class="active"><a class="first" href="/">Home<i class="icon-right-open"></i></a></li>
            <li><a href="/">About us<i class="icon-right-open"></i></a></li>
            <li><a href="/">What we do<i class="icon-right-open"></i></a></li>
            <li><a href="/">Our work<i class="icon-right-open"></i></a></li>
            <li><a href="/">Contact us<i class="icon-right-open"></i></a></li>
            <li><a class="last" href="/">Blog<i class="icon-right-open"></i></a></li>
          </ol>
          <a href="/" class="logo" title="Kisko Labs" tabindex="1">
            <div data-picture data-alt="Kisko Labs">
              <div data-src="/images/logo/medium.png"></div>
              <div data-src="/images/logo/large.png" data-media="(min-width: 26em) and (max-width: 40em)"></div>
              <div data-src="/images/logo/large.png" data-media="(min-width: 75em)"></div>
              <div data-src="/images/logo/large.png" data-media="(min-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2/1), (min--moz-device-pixel-ratio: 1.3)"></div>
              <!-- Fallback content for non-JS browsers -->
              <noscript><img src="/images/logo/medium.png" alt="Kisko Labs"></noscript>
            </div>
          </a>
        </div>
        <div class="banner">
          <h1><span class="stage2"><span class="stage1">We design</span> and</span> build web products.</h1>
          <div data-picture data-alt="Kisko railway">
            <div data-src="/images/illustration/small.jpg"></div>
            <div data-src="/images/illustration/large.jpg" data-media="(max-width: 399px) and (min-device-pixel-ratio: 1.3), (max-width: 399px) and (-webkit-min-device-pixel-ratio: 1.3)"></div>
            <div data-src="/images/illustration/large.jpg" data-media="(min-width: 400px)"></div>
            <div data-src="/images/illustration/extralarge_2x.jpg" data-media="(min-width: 768px) and (min-device-pixel-ratio: 1.3), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.3), (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), (min-width: 768px) and (min--moz-device-pixel-ratio: 1.3)"></div>
            <!-- Fallback content for non-JS browsers -->
            <noscript><img src="/images/illustration/small.jpg" alt="Kisko railway"></noscript>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner_footer">
    <div class="container">
      <p class="intro">We&rsquo;re Kisko Labs, a team of web designers, developers and creative thinkers from Helsinki, Finland. We help startups and large organizations to build their next big web&nbsp;product. <a href="/">See how we can help you &nbsp;&rarr;</a></p>
      <a href="http://www.facebook.com/kiskolabs" title="Facebook" class="social facebook">Facebook</a>
      <a href="http://twitter.com/kiskolabs" title="Twitter" class="social twitter">Twitter</a>
    </div>
  </div>
</body>